@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');
root {
    --color-white: #ff0202;
    --color-darkblue: #000000;
    --color-darkblue-alpha: rgba(0, 0, 0, 0.8);
    --color-green: #33ff00;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    color: var(--color-white);
    margin: 0;
  }
  
  /* mobile friendly alternative to using background-attachment: fixed */
  body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: var(--color-darkblue);
    background-image:linear-gradient(
      115deg,
      rgba(250, 142, 0, 0.705),
      rgba(255, 238, 0, 0)
    ), url('../img/ima1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
  }


h1 {
    font-weight: 400;
    line-height: 1.2;
  }
  
  p {
    font-size: 1.125rem;
  }
  
  h1,
  p {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
  
  label {
    display: flex;
    align-items: center;
    font-size: 1.125rem;
    margin-bottom: 0.5rem;
  }
  
  input,
  button,
  select,
  textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color:rgb(0, 255, 136) ;
  }
  
  button {
    border: none;
  }
  
  .container {
    width: 100%;
    margin: 3.125rem auto 0 auto;
    color: rgb(0, 0, 0);
  }
  
  @media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
  
  .header {
    padding: 0 0.625rem;
    margin-bottom: 1.875rem;
  }
  
  .description {
    font-style: italic;
    font-weight: 200;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
  }
  
  .clue {
    margin-left: 0.25rem;
    font-size: 0.9rem;
    color: #7bff00;
  }
  
  .text-center {
    text-align: center;
  }

  /*     form        */

form {
    margin: 1rem;
    padding: 1rem;
    /* border: 5px solid #000000;  */
    text-align: justify;
    flex-direction: column;
    align-items: center;
    /* background-color: #000000;  */
  }
  
  @media (min-width: 480px) {
    form {
      padding: 2.5rem;
    }
  }
  
  .form-group {
    color: #000000;
    bottom-color: #51ff00;
    margin: 0 auto 1.25rem auto;
    padding: 0.25rem;

  }
  
  .form-control {
    display: block;
    width: 100%;
    height: 2.375rem;
    padding: 0.375rem 0.75rem;
    color: #000000;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 2px solid #000000;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  .form-control:focus {
    border-color: #33ff00fb;
    outline: #1100ff;
    box-shadow:10rem rgb(47, 0, 255);
    color:rgb(255, 255, 255) ;
    background-color: rgb(0, 0, 0);
  }
  
  .input-radio
  .input-checkbox {
    display: inline-block;
    margin-right: 2.625rem;
    min-height: 1.25rem;
    min-width: 1.25rem;
    color: #ff0000;
  }
  
  .input-textarea {
    min-height: 120px;
    width: 100%;
    padding: 0.625rem;
    resize: vertical;
    color: #000000;
    background-color: hsl(0, 0%, 100%);
  }
  
  .submit-button {
    display: block;
    font-size: 1.90rem;
    width: 100%;
    padding: 0.30rem;
    background-color: green;
    color: #000000;
    border-radius: 2px;
    cursor: pointer;
  }
 
